.axis {
  font: 10px sans-serif;
}

#focusText {
  font: 30px sans-serif;
  opacity: 0.5;
}

.extent {
  visibility: visible !important;
  fill: blue;
  opacity: 0.25;
}

.resize rect {
  visibility: hidden;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.time-line.contextG {
  opacity: 0.4;
}
